**Importar librerias**

In [1]:
import pandas as pd

# Cargar csv

In [2]:
df_agosto = pd.read_csv('./DatasetsRutas/rutas_trabajo_agosto.csv', header = 0)

###  El dataset tiene 165 columnas, pero son los mismos valores para ciudades distintas, porlo que quizas se pueda hacer una agrupación

In [3]:
df_agosto.head()

,Semana,Día,Fecha,Cliente,Localidad,Lat,Lon,Horas,Tiempo_Desplazamiento_min
0,1,Friday,01/08/2025,3.0,Sto. Domingo,42.433120,-2.950750,6.0,46.06
1,2,Monday,04/08/2025,9.0,Logroño,42.450132,-2.447887,6.0,65.76
2,2,Tuesday,05/08/2025,32.0,Vitoria,42.838500,-2.709793,3.0,85.95
3,2,Tuesday,05/08/2025,39.0,Haro,42.568106,-2.858153,3.0,85.95
4,2,Wednesday,06/08/2025,31.0,Agoncillo,42.449634,-2.294349,3.0,153.82

In [4]:
df_septiembre = pd.read_csv('./DatasetsRutas/rutas_trabajo_septiembre.csv', header = 0)

In [5]:
df_septiembre.head()

,Semana,Día,Fecha,Cliente,Localidad,Lat,Lon,Horas,Tiempo_Desplazamiento_min
0,1,Monday,01/09/2025,28.0,Cenicero,42.487053,-2.632611,5.5,37.50
1,1,Tuesday,02/09/2025,25.0,El Rasillo,42.194761,-2.701588,5.5,125.35
2,1,Wednesday,03/09/2025,26.0,Nieva,42.219015,-2.666988,5.5,117.13
3,1,Thursday,04/09/2025,30.0,Logroño,42.450132,-2.447887,5.5,65.76
4,1,Friday,05/09/2025,29.0,Laguardia,42.546423,-2.576605,4.0,62.79

In [6]:
df_octubre = pd.read_csv('./DatasetsRutas/rutas_trabajo_octubre.csv', header = 0)

In [7]:
df_octubre.head()

,Semana,Día,Fecha,Cliente,Localidad,Lat,Lon,Horas,Tiempo_Desplazamiento_min
0,1,Wednesday,01/10/2025,32.0,Vitoria,42.838500,-2.709793,5.00,77.75
1,1,Thursday,02/10/2025,39.0,Haro,42.568106,-2.858153,5.00,15.67
2,1,Friday,03/10/2025,31.0,Agoncillo,42.449634,-2.294349,5.00,81.77
3,2,Monday,06/10/2025,40.0,Vitoria,42.838500,-2.709793,3.00,109.70
4,2,Monday,06/10/2025,28.0,Cenicero,42.487053,-2.632611,2.25,109.70

In [8]:
df_noviembre = pd.read_csv('./DatasetsRutas/rutas_trabajo_noviembre.csv', header = 0)

In [9]:
df_noviembre.head()

,Semana,Día,Fecha,Cliente,Localidad,Lat,Lon,Horas,Tiempo_Desplazamiento_min
0,2,Monday,03/11/2025,39.0,Haro,42.568106,-2.858153,3.00,86.16
1,2,Monday,03/11/2025,32.0,Vitoria,42.838500,-2.709793,3.00,86.16
2,2,Tuesday,04/11/2025,31.0,Agoncillo,42.449634,-2.294349,3.00,91.83
3,2,Tuesday,04/11/2025,30.0,Logroño,42.450132,-2.447887,2.25,91.83
4,2,Wednesday,05/11/2025,25.0,El Rasillo,42.194761,-2.701588,2.25,134.82

In [10]:
df_diciembre = pd.read_csv('./DatasetsRutas/rutas_trabajo_diciembre.csv', header = 0)

In [11]:
df_diciembre.head()

,Semana,Día,Fecha,Cliente,Localidad,Lat,Lon,Horas,Tiempo_Desplazamiento_min
0,1,Monday,01/12/2025,44.0,Sesma,42.475966,-2.084940,4.0,120.91
1,1,Tuesday,02/12/2025,50.0,Fuenmayor,42.467631,-2.555735,4.0,46.80
2,1,Wednesday,03/12/2025,49.0,Cenicero,42.487053,-2.632611,4.0,37.50
3,1,Thursday,04/12/2025,48.0,Araia,42.886863,-2.313917,4.0,112.41
4,1,Friday,05/12/2025,46.0,Los Arcos,42.573983,-2.193257,4.0,102.23

In [13]:
# Lista de tus DataFrames
dataframes = [df_agosto, df_septiembre, df_octubre, df_noviembre, df_diciembre]

# Concatenar todos en uno solo
df_concatenado = pd.concat(dataframes, ignore_index=True)

In [14]:
df_concatenado

,Semana,Día,Fecha,Cliente,Localidad,Lat,Lon,Horas,Tiempo_Desplazamiento_min
0,1,Friday,01/08/2025,3.0,Sto. Domingo,42.433120,-2.950750,6.00,46.06
1,2,Monday,04/08/2025,9.0,Logroño,42.450132,-2.447887,6.00,65.76
2,2,Tuesday,05/08/2025,32.0,Vitoria,42.838500,-2.709793,3.00,85.95
3,2,Tuesday,05/08/2025,39.0,Haro,42.568106,-2.858153,3.00,85.95
4,2,Wednesday,06/08/2025,31.0,Agoncillo,42.449634,-2.294349,3.00,153.82
...,...,...,...,...,...,...,...,...,...
142,3,Tuesday,16/12/2025,26.0,Nieva,42.219015,-2.666988,0.75,240.25
143,3,Wednesday,17/12/2025,29.0,Laguardia,42.546423,-2.576605,0.75,NaN
144,3,Wednesday,17/12/2025,4.0,Durana,42.887026,-2.639514,0.50,NaN
145,3,Wednesday,17/12/2025,5.0,Haro,42.568106,-2.858153,0.50,NaN
146,3,Wednesday,17/12/2025,1.0,Haro,42.568106,-2.858153,0.50,NaN

In [16]:
df_concatenado.to_csv("DatasetsRutas/archivo_concatenado.csv", index=False)